.dataTable {
  height: 600px;
}
.cellWithImg {
  display: flex;
  justify-content: center;
  align-items: center;
  .cellImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}
.dataTableStatus {
  padding: 5px;
  border-radius: 5px;
  width: 70px;
  justify-content: center;
  align-items: center;
  display: flex;

  &.active {
    color: green;
    background-color: rgba(0, 128, 0, 0.116);
  }
  &.pending {
    color: goldenrod;
    background-color: rgba(218, 165, 32, 0.185);
  }
  &.passive {
    color: crimson;
    background-color: rgba(220, 20, 60, 0.158);
  }
}
.actionContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  .viewButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px solid rgba(0, 0, 139, 0.548);
    cursor: pointer;
  }
  .deleteButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: crimson;
    border: 1px solid rgba(220, 20, 60, 0.61);
    cursor: pointer;
  }
}
